# Contact Information
NEXT_PUBLIC_PHONE="+919876543210"
NEXT_PUBLIC_WHATSAPP="+919876543210"
NEXT_PUBLIC_EMAIL="info@srirevathipollybags.com"
NEXT_PUBLIC_ADDRESS="Chittoor, Andhra Pradesh, India - 517002"

# Social Media URLs
NEXT_PUBLIC_FACEBOOK_URL="https://facebook.com/srirevathipollybags"
NEXT_PUBLIC_INSTAGRAM_URL="https://instagram.com/srirevathipollybags"
NEXT_PUBLIC_LINKEDIN_URL="https://linkedin.com/company/srirevathipollybags"
NEXT_PUBLIC_TWITTER_URL="https://twitter.com/srirevathipb"

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_EMBED_URL="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124410.30095938572!2d79.0539004!3d13.2172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad38e5c8e0e6d7%3A0x7b1b5e5e5e5e5e5e!2sChittoor%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1234567890"
